.basket {
    width: 85px;
    cursor: pointer;
    position:relative;

    .list {
        margin-top: -1px;
        margin-left:-200px;
        width:250px;
        display: none;
        position: absolute;
    }    

    &:hover {   
        .list{
            background-color: antiquewhite;
            display: block;
        }
    }    
}