#login-page {
    width:100%;
    display: flex;
    justify-content: center;

    #login-box {
        display:flex;
        flex-direction: column;

        padding:0px 25px 0px 25px;
        width: 40%;
        border-radius: 16px;
        box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 4px 0px, 
            rgba(0, 0, 0, 0.08) 0px 0px 2px 1px;

        form {
            display: flex;
            flex-direction: column;
        
            input {
                margin-bottom: 10px;
            }
        }
    }
}
