#headerOuter {
    width:100%;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;


    #headerInner {
        height: 56px;       
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (min-width: 720px) {
            width: calc(100% - 48px);
        }  

        @media (max-width: 900px) {
            width: calc(100% - 48px);
        } 
        
        @media (min-width: 1080px) {
            max-width: 1156px;
        }  
        
        @media (min-width: 1600px) { 
            width: 1600px;
        }            
    }
}