#categoriesOuter {
    width:100%;
    
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    background-color: #F2F2F2;

    box-shadow: rgba(0, 0, 0, 0.64) 0px 2px 8px -5px; 
    

    #categoriesInner {
        display: flex;
        justify-content: space-between;
        align-items: center; 
        height:48px;

        @media (max-width: 720px) {
            img {
                display: none;
            }                 
        }

        @media (min-width: 720px) {
            width: calc(100% - 48px);                
        }  

        @media (min-width: 900px) {
            width: calc(100% - 48px);
        } 
        
        @media (min-width: 1080px) {
            max-width: 1156px;
        }  
        
        @media (min-width: 1600px) { 
            width: 1600px;
        }        
        
        a {
            height: 48px;
            text-decoration: none;
            color: rgb(26, 26, 26);
            padding: 0px 12px;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                margin-right: 15px;
            }
        }

        a:hover {
            background-color: white;
            border-radius: 5px;
            height: 42px
        }
    }
}