#category {
    display: flex;

    #filter {
        width: 25%;
    }
    
    #products {
        width: 75%;

        #box {
            display:flex;
            flex-wrap: wrap;
            justify-content: flex-start;

        
            .product {
                width:245px;
                padding:5px;
                padding-bottom: 10px;
                border: 2px solid white;
                text-decoration: none;
            }
        
            .product:hover {
                border: 2px solid rgb(235, 235, 235);
                border-radius: 15px;
            }

            .product h3 {
                font-size: 14px;
                line-height: 20px;
                color: rgb(0, 0, 0);
                font-weight: normal;
                white-space: normal;
                margin-top: 8px;          
                text-decoration: none;       
            }

            .product ul {
                margin: 0;
                padding: 0;
                list-style-type: none;
            }
        }
    }
}

