.account-header {
    cursor: pointer;
    
    .account-menu {
        margin-top: -1px;
        margin-left:-200px;
        width:250px;
        display: none;
        position: absolute;
    }

    &:hover {   
        .account-menu{
            background-color: antiquewhite;
            display: block;
        }
    }   
}
